.grid.container {
    display: grid;
    grid-template-columns: 200 px, 1fr; /*como se van a formar las columnas de esa grilla. El px es la medida estatica*/
    grid-template-rows: auto 1fr auto; /*Tres filas, la del medio es flexible*/
    gap: 10px; /*Espacio entre los elementos */
}

.header {
    grid-column: 1 / 3; /*Parametros, la cabecera ocupa dos columnas */
}

.menu{
    grid-column: 1 /2; /*El menu ocupa la primera columna */
}

.main{
    grid-column: 2 / 3; /*El menu ocupa la segunda columna */
}

.footer {
    grid-column: 1 / 3; /*El pie de pagina tmb ocupa las dos columnas pero abajo*/
}

